.container{
  background-color: rgb(180, 125, 58);
  width: fit-content;
  padding: 16px;
  margin: 0 auto;
}

.newtask{
background-color: rgb(241, 205, 161);
padding: 16px;
margin-top: 16px;
}

.titles{
  padding: 16px;
}
